<p style="color: green"><%= notice %></p>

<h1>Travels</h1>

<div id="travels">
  <% @travels.each do |travel| %>
    <div class="crudBox">
      <%= render travel %>
      <p>
        <%= link_to "Show this travel", travel, class: "button" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New travel", new_travel_path, class: "button" %>
