.destBox{
  width: 80vw;
  margin: 20px  auto;

}
a{
  text-decoration: none;
  color: black;
}
h1{
  font-weight: 400;
}
strong{
  color: #DF8114;
  font-weight: 500;
}
$width: 17vw;
$height: calc(17vw * 2.2);
.destBox{
  width: $width;
  height: $height;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  position: relative;

  display: flex;
  box-shadow: inset 0 -90px 80px -15px rgb(0, 0, 0);
  transition: transform 0.2s;
  &:hover{
    transform: translateY(-20px) scale(1.05);


  }
  article{

    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(-180deg);
    padding: 20px;
    width: 100%;


    //transform: rotate(-90deg);



  }



  p, h2{
    color: white;
    font-weight: 400;


  }

}

.sectionChoose{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .sectionChoose{
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;

    a{
      transform: rotate(90deg);
    }
    .destBox{
      //margin: 0;

      width: 40vw;
      height: calc(40vw * 2.2);
      margin: -11px 0;

    }

  }
}
