.HomeSection{
  width: 35%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  h1{
    color: white;
  }
  p{
    text-align: center;
    color: rgba($color: #ffffff, $alpha: 0.9);
    line-height: 30px;
  }

}
.homeBack{

  position: absolute;top: 0;bottom: 0;left: 0;right: 0;height: 100vh;
  z-index: -10;
  background-image: url('https://cdn.eso.org/images/wallpaper3/eso0932a.jpg');
  background-position: center;
  background-repeat: no-repeat;



}
body{
  margin: 0;
  position: relative;

}
