.rocketsContainer{

  margin: 0 auto;

  width: fit-content;
  max-width: 50vw;
  height: fit-content;

}
.planet{
  height: 80vh;
  position: fixed;
  left: 0;bottom: 20px;
  transform: translateX(-35%);
}
.destH1{
  margin-left: 140px;
}
.rocketBox{
  .logo{
    width: 90%;
    margin: 0 5%;

  }
  .rocketImg{
    height: 140px;
    display: block;
    margin: 0 auto;
  }
  .border{
    width: 100%;
    border-bottom: 2px solid #DF8114;
  }
  width: 150px;
  padding: 10px 0;
  margin: 20px;
  border: 2px solid #DF8114;
  background-color: black;
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 35vh;



  a{
    color: white;
    width: fit-content;
  }

}
