.rocketsContainer{

  margin: 0 auto;

  width: fit-content;
  max-width: 50vw;
  height: fit-content;

}
.planet{
  height: 80vh;
  position: fixed;
  left: 0;bottom: 20px;
  transform: translateX(-35%);
  z-index: 2;
}
.planetTitle{
  position: fixed;left: 0px;
  top: 50%;
  z-index: 3;
  box-shadow: inset 30px 0px 50px -10px rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
  h2{
    color: white;
    font-weight: 300;


  }
}
.destH1{
  margin-left: 140px;
}
.rocketBox{
  .logo{
    width: 90%;
    margin: 0 5%;

  }
  .rocketImg{
    height: 140px;
    display: block;
    margin: 0 auto;
  }
  .border{
    width: 100%;
    border-bottom: 2px solid #DF8114;
  }
  width: 150px;
  padding: 10px 0;
  margin: 20px;
  border: 2px solid #DF8114;
  background-color: black;
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 35vh;
  overflow: hidden;



  a{
    color: white;
    width: fit-content;
  }

}
@media only screen and (max-width: 600px) {
  .planetTitle{
    display: none;
  }
  .planet{
    z-index: -2;
  }
  .destH1{
    margin-left: 21px;
  }
}
