


<!--<div class="homeBack">
  <img class="homeBack" src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/4494d256-5987-49a2-b07a-7531953bfab9/galaxy.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220401%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220401T135114Z&X-Amz-Expires=86400&X-Amz-Signature=ede4538797501605a2efcfdb16e051429da44bf000798996a7380cb9071b3f24&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22galaxy.png%22&x-id=GetObject" alt="">
</div>-->
<section class="HomeSection">
  <h1>Spatronauts</h1>
  <p>Votre partenaire pour votre prochain voyage !
descouvrez nos destinations et partez découvrir notre magnifique système solaire !</p>
  <%= link_to "explore",  "/chooseDestination", class: "button"%>
</section>
