


<div class="homeBack">
  <!--<img class="" src="https://cdn.eso.org/images/wallpaper3/eso0932a.jpg" alt="">-->
</div>
<section class="HomeSection">
  <h1>Spatronauts</h1>
  <p>Votre partenaire pour votre prochain voyage !
descouvrez nos destinations et partez découvrir notre magnifique système solaire !</p>
  <%= link_to "explore",  "/chooseDestination", class: "button"%>
</section>
