<div id="<%= dom_id rocket %>">
  <p>
    <strong>Name:</strong>
    <%= rocket.name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= link_to rocket.company, rocket.company %>
  </p>

  <% rocket.destinations.each do |destination| %>
    <%= link_to destination, destination %>
  <% end %>

  <p>
    <strong>Image:</strong>
    <!-- image_tag rocket.image-->
    <% rocket.image %>
    <br>
  </p>

</div>
