<p style="color: green"><%= notice %></p>

<h1>Rockets</h1>

<div id="rockets">
  <% @rockets.each do |rocket| %>
    <div class="crudBox">

      <%= render rocket %>
      <p>
        <%= link_to "Show this rocket", rocket, class: 'button' %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New rocket", new_rocket_path , class: 'button'%>
