<h1>Editing destination</h1>

<%= render "form", destination: @destination %>

<br>

<div>
  <%= link_to "Show this destination", @destination %> |
  <%= link_to "Back to destinations", destinations_path %>
</div>
