<p style="color: green"><%= notice %></p>

<h1>Destinations</h1>

<div id="destinations">
  <% @destinations.each do |destination| %>
    <div class="crudBox">
      <%= render destination %>
      <p>
        <%= link_to "Show this destination", destination, class: "button" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New destination", new_destination_path, class: "button" %>
