.button{
  padding: 10px;
  color: white;
  background-color: black;
}
.Wbutton{
  padding: 10px;
  color: black !important;
  background-color: white;
}

header{
  padding: 10px 40px;

  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1{
    color: white;
    margin: 0;
  }
  p, a{
    color: white;
    margin: 0;
  }
  p{
    margin-bottom: 10px;

  }

  & > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 120px;
    padding-left: 20px;
    border-left: #DF8114 solid;

  }


}
main{
  width: 90%;
  margin: 0 auto;
}

.edit_travel > .select{
  display: inline-block;
  width: fit-content;

  .select{
    background-color: #DF8114;
    padding: 5px;
    border: 1px solid black;
    font-family: 'cousine', monospace;
  }


}
.edit_travel{
  .btn{
    font-family: 'cousine', monospace;
    background-color: black;
    border: none;
    color: white;
    padding: 7px;

  }
}
