.travelBoxContainer{
  width: 80VW;

  margin: 30px auto;

}


.travelBox{
  border: solid black;
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  word-wrap: break-word;
}
