$mainColor: black;
$secondColor: #DF8114;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;

}
p, a{
  font-family: 'cousine', monospace;
}
@media only screen and (max-width: 600px) {
  h1{font-size: 18px;}
  p{font-size: 14px;}
}
